@{

    ViewData["Title"] = "Edit Note";
}

@model NotesApp.Models.Note;

<div class="col-lg-9">
    <h1>Edit your note</h1>
    <form method="post" asp-controller="Note" asp-action="Update">
        <div class="note">
            <input type="hidden" asp-for="NoteId" value="@Model.NoteId"/>
            <h1><input type="text" class="form-control" asp-for="Title" value="@Model.Title"/></h1>
            <textarea class="note-content form-control" asp-for="Text">@Model.Text</textarea>
        </div>
        <input type="submit" class="btn btn-success" value="Add" />
    </form>
</div>