@model Note
<div class="modal fade" id="AddNoteModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form asp-controller="Home" asp-action="AddNote" method="post">

                <div class="modal-header">
                    <h2>Let`s add your note</h2>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="option">Background color:</div>
                                <div id="colorpicker"></div>
                                <input type="text" id="color" name="color" value="#ffffff" />
                            </div>

                            <div class="col-md-8">
                                <textarea class="note" id="textarea" asp-for="Text"> dfsf dsf dsfdsf </textarea>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="container-fluid">
                        <input type="submit" class="form-control btn btn-success" value="Add" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>