@using NoteBook.Helpers
@model List<Note>
@{
    ViewData["Title"] = "Home Page";
}

@Html.ShowNotes(Model);

<button class="btn btn-lg btn-add center-block">+</button>

@{await Html.RenderPartialAsync("_EditNote");}